<div class="diff-container">
    <mat-card appearance="outlined" class="card">
        <app-object-merger
            class="text-diff"
            [compareRowsStyle]="{ 'max-height': '480px', overflow: 'auto' }"
            [diffContent]="diffContent$"
            [synchronizeScrolling]="true"
            [hideMatchingLines]="false"
            [showActionButton]="true"
            [showBorders]="true"
            [showBtnToolbar]="true"
            (mergeObjects)="merge($event)"
        >
        </app-object-merger>
    </mat-card>

    @if (!isMergedObjectEmpty) {
        <textarea [value]="mergedObject | json"></textarea>
    }
</div>
